# Python
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/

# Тяжелые файлы (Движок и Модели)
bin/
models/

# Локальные настройки пользователя
config.json
prompts.json

# Системные файлы Windows
Thumbs.db